<div class="container">
  <form [formGroup]="form" class="form">
    <input id="number1" type="number" formControlName="number1" class="n1" placeholder="entre ici-là..">
    
    <div class="operators">
      <div class="gradient left"></div>
      <div class="gradient right"></div> 
      <carousel [infinite]=true [slideToScroll]=1 
        [slideWidth]=50 [dots]=false [arrows]=false 
        [counter]=false [maxDomSize]=4 [maxWidthCarousel]=190
        [gapBetweenSlides]=12>
        <div class="carousel-slide op">{{ MathOperator.Divide }}</div>  
        <div class="carousel-slide op">{{ MathOperator.Add }}</div>
        <div class="carousel-slide op">{{ MathOperator.Subtract }}</div>
        <div class="carousel-slide op">{{ MathOperator.Multiply }}</div>
      </carousel>
    </div>
  
    <input id="number2" type="number" formControlName="number2" class="n2" placeholder="..et ici-bas">

    <div class="equals">égale</div>

    <div class="result"></div>

    <div class="spacing">
      <div class="gradient-sp left"></div>
      <div class="gradient-sp right"></div> 
      <carousel [slideToScroll]=1 [slideWidth]=50 [dots]=false [arrows]=false 
        [counter]=false [maxDomSize]=2 [maxWidthCarousel]=100
        [gapBetweenSlides]=6>
        <div class="carousel-slide sp">{{ Spacing.None }}</div>  
        <div class="carousel-slide sp">{{ Spacing.Two }}</div>  
        <div class="carousel-slide sp">{{ Spacing.Three }}</div>
      </carousel>
    </div>
  </form>
</div>
