@default-radius: 8px;
@default-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 

.container {
  display: grid;
  place-items: center;
  grid-template-rows: [r-start] 1fr [r-end];
  grid-template-columns: [c-start] 1fr [c-end];
  height: 98vh;
  background-color: hsl(0, 0%, 100%); 
}

.form {
  grid-row: r-start / r-end;
  grid-column: c-start / c-end;
  grid-template-rows: [rm1-start] 1fr [rm1-end rm2-start] 1fr [rm2-end rm3-start] 1fr [rm3-end rm4-start] 1fr [rm4-end];
  grid-template-columns: [cm-start] 1fr [cm-end];
  display: grid;
  justify-items: center; 
}

input[type="number"], select {
  margin: 10px 0; 
  padding: 10px; 
  max-width: 300px; 
  border: none; 
  border-radius: @default-radius; 
  font-size: 20px;
  font-family: "Open Sans", system-ui;
  text-align: center;
  outline: none; 
}

select {
  box-shadow: none;
  font-style: oblique; 
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.n1 {
  grid-row: rm1-start / rm1-end;
  grid-column: cm-start / cm-end;
}

.op {
  grid-row: rm2-start / rm2-end;
  grid-column: cm-start / cm-end;
}

.n2 {
  grid-row: rm3-start / rm3-end;
  grid-column: cm-start / cm-end;
}

.result {
  grid-row: rm4-start / rm4-end;
  grid-column: cm-start / cm-end;
  align-self: center;
  font-size: 20px;
  padding: 10px; 
  display: flex;
  gap: 0.2ch; 
  text-align: center; 
  transition: transform 0.3s ease;
}

.digit {
  display: inline-block;
  transition: transform 5s, opacity 0.5s ease-in-out;
  font-family: monospace;
  border-radius: @default-radius; 
  box-shadow: @default-box-shadow;
}

.flip {
  animation: flip 3.5s forwards;
}

@keyframes flip {
  0% {
    transform: rotateY(0deg);
    opacity: 100%;
  }
  50% {
    transform: rotateY(180deg);
    opacity: 0%;
  }
  100% {
    transform: rotateY(0deg);
    opacity: 100%;
  }
}
