<div class="container">
  <form [formGroup]="form" class="form">
    <input id="number1" type="number" formControlName="number1" class="n1" placeholder="0000">
    
    <select id="operator" formControlName="operator" class="op">
      <option [ngValue]="MathOperator.Add">{{ MathOperator.Add }}</option>
      <option [ngValue]="MathOperator.Subtract">{{ MathOperator.Subtract }}</option>
      <option [ngValue]="MathOperator.Multiply">{{ MathOperator.Multiply }}</option>
      <option [ngValue]="MathOperator.Divide">{{ MathOperator.Divide }}</option>
    </select>
  
    <input id="number2" type="number" formControlName="number2" class="n2">
    <div class="result">{{ result() !== null ? result() : '' }}</div>  
  </form>
</div>
