@default-radius: 8px;
@default-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 

.container {
  display: grid;
  place-items: center;
  grid-template-rows: [r-start] 1fr [r-end];
  grid-template-columns: [c-start] 1fr [c-end];
  height: 98vh;
  background-color: hsl(0, 0%, 100%); 
}

.form {
  grid-row: r-start / r-end;
  grid-column: c-start / c-end;
  grid-template-rows: [rm1-start] 1fr [rm1-end rm2-start] 1fr [rm2-end rm3-start] 1fr [rm3-end rm4-start] 1fr [rm4-end rm5-start] 1fr [rm5-end];
  grid-template-columns: [cm1-start] 1fr [cm1-end cm2-start] 0.2fr [cm2-end];
  display: grid;
  justify-items: center; 
}

input[type="number"] {
  margin: 10px 0; 
  padding: 10px; 
  max-width: 300px; 
  border: none; 
  border-radius: @default-radius; 
  font-size: 20px;
  font-family: "Open Sans", system-ui;
  text-align: center;
  outline: none; 
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.n1 {
  grid-row: rm1-start / rm1-end;
  grid-column: cm1-start / cm1-end;
}

.n1::placeholder {
  font-style: italic;
  opacity: 50%;
}

.operators{
  grid-row: rm2-start / rm2-end;
  grid-column: cm1-start / cm1-end;
  align-items: center;
  position: relative;
  display: flex;
}

carousel{
  height: 40px;
  display: flex;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
  z-index: 0;  
}

.gradient {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100px; 
  pointer-events: none; 
  z-index: 1; 
}

.gradient.left {
  left: 0; 
  background: linear-gradient(to right, white 10%, transparent); 
}

.gradient.right {
  right: 0; 
  background: linear-gradient(to left, white 10%, transparent); 
}

.op {
  font-style: oblique;
}

.carousel-slide{
  width: auto !important;
}

.n2 {
  grid-row: rm3-start / rm3-end;
  grid-column: cm1-start / cm1-end;
}

.n2::placeholder {
  font-style: italic;
  opacity: 50%;
}

.equals {
  grid-row: rm4-start / rm4-end;
  grid-column: cm1-start / cm1-end;
  align-self: center;
  font-style: italic;
  opacity: 50%;
}

.result {
  grid-row: rm5-start / rm5-end;
  grid-column: cm1-start / cm1-end;
  align-self: center;
  font-family: "Open Sans", system-ui;
  font-size: 20px;
  padding: 10px; 
  display: flex;
  text-align: center;
}

.digit {
  display: inline-block;
  font-family: "Open Sans", system-ui;
  border-radius: @default-radius; 
  box-shadow: @default-box-shadow;
  transition: margin-right 0.5s ease-out;
}

.spacing{
  grid-row: rm5-start / rm5-end;
  grid-column: cm2-start / cm2-end;
  align-items: center;
  position: relative;
  display: flex;
  opacity: 0; 
  transition: opacity 0.5s ease-out;
}

.spacing:hover {
  opacity: 1;
}

.spacing:not(:hover) {
  opacity: 0;
  transition: opacity 0.5s ease-out 0.5s; 
}

.sp {
  font-style: oblique;
}

.gradient-sp {
  position: absolute;
  top: 0;
  height: 100%;
  width: 30px; 
  pointer-events: none; 
  z-index: 1; 
}

.gradient-sp.left {
  left: 0; 
  background: linear-gradient(to right, white 10%, transparent); 
}

.gradient-sp.right {
  right: 0; 
  background: linear-gradient(to left, white 10%, transparent); 
}

.space-after{
  margin-right: 10px; 
}

